<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   LocalConfig.plist
   exampleApp

   Created by Javier Lumbi on 3/9/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>organization</key>
    <string>IU</string>
    <key>organizationId</key>
    <string>5a294f81993c8f1570c2550d</string>
    <key>organizationType</key>
    <string>static</string>
    <key>baseOrganization</key>
    <string>IU</string>
    <key>orgSelection</key>
    <string>HOST_APP</string>
    <key>fallbackURL</key>
    <string>https://sdk.digitalreef.com/v1/configs/remote</string>
    <key>timerTriggerConfig</key>
    <string>86400</string>
    <key>version</key>
    <string>2</string>
    <key>buildType</key>
    <string>SDK</string>
    <key>fcmProjectId</key>
    <string>iu-android-sdk</string>
    <key>fcmSenderId</key>
    <string>117519441630</string>
    <key>fbRemoteProjectId</key>
    <string>iu-android-sdk</string>
    <key>fbRemoteAPIKey</key>
    <string>AIzaSyAuiuXvkX3hbXTZv1q1KUh3PbvvTT2tb04</string>
    <key>fbRemoteAppId</key>
    <string>1:117519441630:android:7962cb3d01ff3cc2</string>
    <key>variant</key>
    <string>chronos</string>
  </dict>
</plist>
